// Define variables for your color scheme

// For example:

$white:      #fff;
$yellow:     #FFDF44;
$orange:     #FE7F43;
$green:      #15D1C0;
$light-blue: #CEDBEE;
$blue:       #586EC6;
$dark-blue:  #0E1B4C;
$black:      #000000;
