.approval-flow-main-box {
  border: 1px solid $dark-blue;

}


.blue {
  color: $blue;
}

.green {
  color: $green;

}

.yellow {
  color: $yellow;
}

.red {
  color: $orange;
}

.light-blue {
  background: #F2FBFF;
}

.step-card {

}
