.dashboard-container {
  margin:auto;
  width: 80%;
}

.all-proposals-header h1{
  font-weight:400;
}

#dash-header{
  font-family: 'Trispace', sans-serif;
}

#nav-tab {
  border-bottom: 0px none white;
}
