// Specific CSS for your home-page

#home-value-prop {
  height: auto;
  padding: 60px 0px;
   h2 {
    font-size: 20px;
    color: $dark-blue;
    padding-right: 50px;

   }
   p {

   }
}

#home-last-section {
  height: auto;
  background: $dark-blue;
  padding: 120px 0px;
   h2 {
    font-size: 20px;
    color: white;
   }
   p {
    color: white;
   }
}
