.container-proposal{
  display: flex;
  flex-direction: column;
}

.titles h1{
  color: $black;
}

.titles p {
  color: $black;
}

.approval-flow-proposal {
  display: flex;

}



.buttons-approve {
  display: flex;
  padding: 3px;
}


.edit-button {
  margin-left: 3px;
  margin-top: 5px;
}
