.blue-box{
  border: 1px solid $blue;
  box-shadow: 3px 3px 5px rgba(14, 27, 76, 0.1);
  padding: 4px;
  background-color: $light-blue;
  width: max-content;
}

.progress-section li{
  list-style-type: none;
}

.titles p {
  color: $grey;
}

.approval-flow-proposal {
  display: flex;
}

.buttons-approve {
  display: flex;
  padding: 3px;
  justify-content: space-evenly;
}

.all-comments-box {
  background-color: $light-blue;
  border: 1px solid #576BB1;
  box-shadow: 3px 3px 5px rgba(14, 27, 76, 0.1);
}

.comment-form {
  align-items: flex-start;
}

// #comment_content {
//   width: 50vw;
// }

// resizes all the text input boxes in all the forms
// .form-control {
//   width: 100%;
// }

.add-comment-box h3 {
  margin:0;
  margin-top: 32px;
}

.comments-section {
  margin: auto;
  width: 75vw;
}

.comment-item {
  list-style-type: none;
  background-color: white;
  width: 100%;
  margin-top: 20px;
  // margin:auto;
}

.step-container {
  background-color: white;
  height: 30px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  line-height: 0px;
  display: flex;
  align-items: center;
  width: max-content;
}

.action-header {
  text-align: center;
}

.actions-section {
  border: 1px solid $blue;
  box-shadow: 3px 3px 5px rgba(14, 27, 76, 0.1);
  padding: 4px;
  margin: auto;
  width: 60%;
}

.approval-flow-actions {
  margin: auto;
}

.container-show {
  width: 80vw;
  // background-color: darkslategrey;
}

.blue-p {
  font-size: 16px;
  color: $blue;
  font-family: 'Trispace', sans-serif;
  font-weight: 500;
}

.proposal-section {
  width: 32vw;
}
.proposal-box {
  width: max-content;
}

.progress-section {
  width: 36vw;
}
.progress-section .blue-p{
  font-size: 12px;
}
.progress-section p{
  font-size: 12px;
}

#edit-icon {
  font-size: 28;
  padding-left: 10px;
}

.approved-section {
  margin:auto;
  width: 75vw;
}

.final-approval-section {
  border: 1px solid $blue;
  box-shadow: 3px 3px 5px rgba(14, 27, 76, 0.1);
  padding: 4px;
  margin: auto;
  width: 60%;
}

.final-approval-header {
}

.end-message-approval-section {
  border: 1px solid $blue;
  box-shadow: 3px 3px 5px rgba(14, 27, 76, 0.1);
  padding: 4px;
  margin: auto;
}

a > i {
  font-size: 22px;
}
