<div style="background-color: #0E1B4C">
  <div class="banner-home container d-flex flex-column justify-content-center align-items-baseline" style="">
      <%= image_tag "logo-decide-it-long.svg", class: "logo-home-banner"%>
      <h1 id="home-banner-header">Prepare your <span class="italic">projects for success.</span></h2>
      <h2 id="home-banner-header">Enhance <span class="italic">decision making.</span></h2>
      <%# <p id="p-home-banner">A new way of working. Stay agile. Stay aligned.</p> %>
        <% if user_signed_in?  %>
          <%= link_to "Try Decide.it", dashboard_path, class: "btn-flat-white", id: "btn-home" %>
        <% else  %>
          <%= link_to "Try Decide.it", new_user_registration_path, class: " btn-flat-white", id: "btn-home" %>
        <% end  %>
  </div>
</div>
