<div class="footer">
    <div class="home-logo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo-decide-it-short.svg" %>
      <% end %>
    </div>
  <div class="footer-links">
    <a href="#" class="m-3">FAQs</a>
    <a href="#" class="m-3">Terms & Conditions</a>
    <a href="#" class="m-3">Privacy Policy</a>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
