<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.hrzone.com/sites/default/files/pixelfit_0.jpg);">
  <div class="container">
    <h1>Decide it <strong></h1>
    <p>Simplify decision making through clear approval flows.</p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-light" %>
  </div>
</div>
