<div class="bg-testimonials">
  <div class="banner-testimonial container d-flex ">

    <div class="testimonial-container d-flex">
      <div class="client-text-container d-flex flex-column justify-content-between">
        <%= image_tag "lewagon.png", class: "image-card-home"%>
        <div class="header-text  mt-3">
          <h4>“New employees can look at the Creative Requests board, and immediately understand what the entire marketing team is working on without having to ask.”</h4>
          <p class="mt-4">Emilia Ivaylova | Operations Manager | Le Wagon Madrid</p>
        </div class=" mt-5">
        <h4><%= link_to "Meet our customers", "#", class: "testimonial-btn" %></h4>
      </div>
    </div>

    <div class="client-image-container">
      <div class="bg-square">
        <%= image_tag "emi-at-le-wagon.jpg", class: "image-card-home"%>
      </div>
    </div>

  </div>
</div>
