<div class="all-proposals-container">
  <div class="all-proposals-header mb-4">
    <h1>All Proposals</h1>
    <%= link_to "Create new proposal", new_proposal_path, class: "btn btn-flat-white"  %>
  </div>

  <div class="proposal-cards-container">
    <%= render "shared/card-proposal" %>
  </div>

</div>
