<div class="all-proposals-container">
<div class="title-btn">
  <%= link_to "Create new proposal", new_proposal_path, class: "btn btn-flat-white"  %>
  <h1>All Proposals</h1>
</div>

  <div class="proposal-cards-container">

    <% @proposals.each do |proposal| %>
    
      <h2><%= proposal.title%></h2>
      <p><%= proposal.description%></p>
      <p><%= proposal.creator.email %></p>
    <% end %>

  </div>

</div>
