
<h1><%= @proposal.title %></h1>
<p><%= @proposal.description %></p>
<p><strong>Status:</strong> <%= @proposal.status  %></h3>

<%#= link_to  "Create Approval Flow", new_proposal_approval_flow_path(@proposal) %>
