.footer {
  background: $dark-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  padding: 0px 50px;
  color: $white;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $white;
  // opacity: 0.15;
  text-decoration: none;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  // margin-right: 1rem;
  // margin-left: 1rem;
}
.footer-links a:hover {
  color: $blue;
  letter-spacing: 3px;

}
