.banner-home {
  padding: 20px 0;
  height: 93vh;
  background: $dark-blue;
}

.banner p {
  font-size: 12px;
  color: white;
  // opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#h1-home-banner {
  font-size: 2rem;
  color: white;
  font-weight: normal;
  font-family: $body-font;
  font-weight: normal;
  letter-spacing: .2rem;
  line-height: 2.5rem;
  padding-bottom: 15px;
  width: 60%;
}

#p-home-banner {
  font-size: 5vh;
  color: white;
  font-family: 'Darker Grotesque', sans-serif;
  margin: auto;
  margin-bottom: 30px;
  padding: 25px 0px;
}

.logo-home-banner {
  width: 65vw;
  margin-bottom: 2rem;
}

.italic {
  font-style: italic;
}
