.navbar-lewagon-home {
  display: flex;
  justify-content: space-between;
  background: $dark-blue;
}

.navbar-lewagon-home .fi {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.navbar-lewagon-home .fi:hover {
  color: $blue;
  letter-spacing: 3px;
}

// .btn-squared-white i {
//   color: white;
//   font-size: 14px;
// }

.home-btn {
  color: white;
  font-size: 16px;
  margin-right: 1.5rem;
}
.home-btn a:hover {
  background: $white;
  color: $blue;
  letter-spacing: 0;
}

.home-nav-items {
  min-width: fit-content;
}
