.navbar-lewagon {
  justify-content: space-between;
  height:100vh;
  display: flex;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-bottom: 20px;
}


.collapse .navbar-collapse {
  flex-direction: column;
}

#nav-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-fluid {
  flex-direction: column;
  padding-top: 15px;
  height:100vh;
  width:6%;
}

.navbar-nav .me-auto {
flex-direction: column;
}

.navbar i {
  color: $white;
  font-size: larger;
  // font-weight: lighter;
}

.nav-item {
  margin-top: 25px;
}
