.navbar-lewagon-home {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon-home .navbar-collapse-home {
  flex-grow: 0;
}

.navbar-lewagon-home .navbar-brand-home img {
  width: 40px;
}
