.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  background-color: $light-blue !important;
}

table {
  border-collapse: collapse;
  width: 1000px;
  border: none;
  background-color: $light-blue;
}
table td {
  padding: 1rem;
  text-align: left;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}
tbody tr{
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}

th{
  padding: 1rem;
  color: $dark-blue;

}
.p-tag-dashboard {
  font-size: large;
  font-weight: 600;
}

.display-message {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 36px;
}

.nav-link {
  font-size: 22px;
}
