.bg-testimonials {
  background-color: $blue;
  height: 88vh;
  margin:0;
}

.banner-testimonial {
  height: 93vh;
  width: 100vw;
}

.testimonial-container {
  margin: 1rem;
  padding: 2.5rem;
  flex-direction: column;
  width: 40%;
  position: relative;
  top: -7px;
}

.client-text-container {
  position: relative;
  height: 80%
}

.client-text-container img{
  height: 62px;
  width: 62px;
  position: relative;
  top: 23px;
}

.header-text {
  position: relative;
  top: 38px;
}

.header-text p{
  // font-size: 26px;
  color: white;
  font-weight: lighter;
}

.header-text h4{
  font-size: 26px;
  color: $white;
  font-weight: 500;
  font-family: 'Aleo', serif;
}

.client-image-container {
  margin: 1rem;
  padding: 2.5rem;
  position: relative;
  // flex-direction: column;
  width: 40%;
  height: 80%;
  top: -72px;
  right: -122px;
}

.bg-square img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: right bottom;
  position: absolute;
  left: 18px;
  top: 217px;
  box-shadow: 72px -88px $light-blue;
  // border: 3px solid $white;
}

.bg-testimonials a {
  color: $dark-blue;
  font-weight: 500;
  position:relative;
  top: 63px;
}

.bg-testimonials a:hover {
  color: white;
}

.testimonial-btn {
  border: 3px solid $dark-blue;
  padding: 10px 12px;
}

.testimonial-btn:hover {
  border: 3px solid $white;
}
