// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// CSS for all the pages
.side-container {
  width:94%;
}

.side-nav-bar {
  flex-direction: column;
  background-color: $dark-blue;
  width: 6%;
}

.page-container{
  display:flex;
}
