// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";

// CSS for all the pages

h1 {
  font-size: 36px;
  font-weight: 600;
  color: $dark-blue;
}

h2 {
  font-size: 28px;
  color: $blue;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: $black;
  font-family: $headers-font;
}

.side-container {
  width:94%;
}

.side-nav-bar {
  flex-direction: column;
  background-color: $dark-blue;
  width: 6%;
}

.page-container{
  display:flex;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  color: $dark-blue;
}
