// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";

// CSS for all the pages
.body {
  width: 100vw;
  overflow: hidden;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  color: $dark-blue;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 28px;
  color: $dark-blue;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-size: 22px;
  color: $blue;
  font-family: 'Trispace', sans-serif;
}

h4 {
  font-size: 18px;
  color: $dark-blue;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  color: $blue;
  font-family: 'Trispace', sans-serif;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: $black;
  font-family: 'Aleo', serif;
}

a {
  color: $blue;
  font-family: 'Trispace', sans-serif;
  text-decoration: none;
}

a:hover {
  color: $dark-blue;
}

i {
  font-style: normal !important;
}

.side-container {
  width:94%;
}

.side-nav-bar {
  flex-direction: column;
  background-color: $dark-blue;
  width: 6%;
  // height: 100vh;
}

.page-container{
  display:flex;
}

